@font-face{
    font-family: "Typefesse";
    src: url("../fonts/Typefesse/Typefesse_Claire-Obscure.otf") format("opentype");
    font-weight: normal;
    font-style:normal;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* Sizes: Header (auto), Nav (auto), Main (fills space), Footer (auto) */
    min-height: 100vh;
    margin: 0;
    background-color: bisque;
}

header, nav, main, footer {
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game_title{
    grid-area: game_logo;
    /* position */
   
    font-family: "Typefesse";
    justify-content: center;
    text-align: center;
    font-size: 4em;
    /* background */
     background-image: url("../images/correct_logo.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position:  center 15vh;
}

p{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* font-size: 0.75rem; */
}
h2{
   margin: 1rem; 
}
.play_button{
    grid-area: start_button;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    font-variation-settings: "wdth" 100;
    margin: 2rem auto;
    
    /* styling the button, figma assisted */
    background-color: #5B7663;
    display: flex;
    width: 17.25rem;
    height: 4.5rem;
    transform: rotate(4deg);
    padding: 1.25rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 0;
    border-radius: 5.625rem;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.09), -4px 6px 0 0 rgba(0, 0, 0, 0.25) inset;
}

.play_button:hover{
    background-color: #CCDCD1;
    transform: rotate(1deg);

}

.play_button:active{
    background-color: #DEBEB0;
    transform: rotate(-4deg);
}

.joke_ads{
    display: flex;
    height:5rem; 
    width: 15rem;
    justify-content: center;
    align-items: center;
    /* background */
    margin: 5vh 10vw 5vh;
    background-color: aqua;
    background-size: auto;
    place-self: center;
}
.footer_float{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-size: 0.75rem;
    background-color: blueviolet;
}

/* Game mode selection pop-up */
.game_difficulty {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: #C9DFE8;
    border-radius: 2rem;
    padding: 1.25rem;

    width: min(90vw, 420px);
    min-height: unset;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

.game_difficulty.active{
    transform: translate(-50%,-50%) scale(1);
}

.game_difficulty-header{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game_difficulty-header .select_title{
    font-size: 1.25rem;
    font-weight: bold;

    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    font-variation-settings: "wdth" 100;
}

.game_difficulty-header .close_button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.50rem;
    font-weight: bold;
}

.game_difficulty .game_difficulty-body{
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
    font-variation-settings: "wdth" 100;
}

#overlay{
    position: fixed;
    opacity: 0; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    z-index: 9;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.mode_choice {
    display: flex;
    justify-content: left;
    align-items: center;

    margin-bottom: 1rem;
    gap: 2rem;
    background-color: #DEBEB0;
    min-width: 17.25rem;
    min-height: 4.5rem;
    border: 0;
    border-radius: 5.625rem;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.09), -4px 6px 0 0 rgba(0, 0, 0, 0.25) inset;
    cursor: pointer;
}

 .mode_choice:has(input[type="radio"]:checked) {
    background-color: #EA7E7B;
}
.custom_radio_button{
    width: 25px;
    height: 25px;
    border: 2px solid #444;
    border-radius: 50%;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e7edf0;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.09), -4px 6px 0 0 rgba(0, 0, 0, 0.25) inset;
}
.custom_radio_button:has(input[type="radio"]:checked){
    border:#C9DFE8;
    box-shadow: none;
}
.custom_radio_button .checkmark{
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    
    border-radius: 50%;
    background-color: #def5c9;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.6s ease;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 1), 0.25px -1px 0 0 rgb(81, 255, 139) inset;
}

.custom_radio_button input{
    /* this makes the radio box invisible for the time being */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}

.custom_radio_button input:checked + .checkmark{
       opacity: 1;
}

.basic_button{
    font-family: "Typefesse";
    color: white;
    background-color: #5B7663;
    min-width: 17.25rem;
    min-height: 4.5rem;
    /* transform: rotate(4deg); */
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 5.625rem;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.09), -4px 6px 0 0 rgba(0, 0, 0, 0.25) inset;
}

.basic_button:hover{
    color: black;
    background-color: #CCDCD1;
    transform: rotate(1deg);

}
.basic_button:active{
    color: black;
    background-color: #DEBEB0;
    transform: rotate(-2deg);
}
/* End of difficuty pop-up */

/* page 2 styling */
.just_for_alignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.page_header{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
    background-color: #5B7663;
    /* font-variation-settings: "wdth" 80; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
#time_and_exit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 0 2rem;
    max-width: 900px;
    /* background-color: #c0c0c0; */
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.75);
}
#timer{
    font-family: "Typefesse";
    justify-content: center;
    text-align: center;
    margin: 0.75rem 0.5rem;
    font-size: 2em;
    background-color: #5B7663;
    color: white;
    border: 0.25rem solid #5B7663;
    border-radius: 1rem;
    cursor: pointer;
}
#timer:hover{
    background-color: #a9d4b6;
    color: #444;
    border: 0.25rem solid #a9d4b6;
}
#timer:active{
    background-color: #DEBEB0;
    border: 0.25rem solid #DEBEB0;
}
#timer.paused{
    position: relative;
    z-index: 60;
    background-color: #C9DFE8;
    border: 0.25rem solid #C9DFE8;
    color: #3b4b40;
    cursor: pointer;
}
#timer.paused:hover{
    background-color: #DEBEB0;
    border: 0.25rem solid #DEBEB0;
}
#paused_overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
}
#paused_overlay.active{
    display: block;
    opacity: 1;
    z-index: 3;
}
#walk_away_container{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.1rem;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;

    border: 2px solid #9fb9c4;
    border-radius: 1rem;

    background-color: #C9DFE8;
}
#accept_defeat{
    border: 2px solid #EA7E7B;
    border-radius: 0.5rem;
    background-color: #DEBEB0;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.09), -1px 2px 0 0 rgba(0, 0, 0, 0.25) inset;
}
#accept_defeat:hover{
    background-color: #CCDCD1;
}
#accept_defeat:active{
    background-color: #EA7E7B;
}
#surrender .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 3;
    
}
#surrender .overlay.active{
    display: block;
}
.pop_up .popup-content,
#friend_choice,
#walkaway_text_container{
    box-sizing: border-box;
}
#walkaway_text_container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 350px;
    background: #C9DFE8;
    transform: translate(-50%, -50%) scale(1.15);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.09);
    transition: all 300ms ease-in-out;

    align-items: center;
    z-index: 4;
}
#walkaway_text_container.active{
    display: flex;
}
#walkaway_text_container p{
    text-align: center;
}
#surrender_buttons_container{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.surrender_buttons{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.1rem;
    text-align: center;
    margin: 0.15rem;
    padding: 0.5rem;

    
    border-radius: 1rem;
}
#bitch_out{
    
    border: 2px solid #EA7E7B;
    background-color: #EA7E7B;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.09), -1px 2px 0 0 rgba(0, 0, 0, 0.25) inset;
}
#bitch_out:hover{

    background-color: #f8d5d3;
}
#fat_finger{
    border: 2px solid #5B7663;
    background-color: #5B7663;
    color: whitesmoke;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.09), -1px 2px 0 0 rgba(0, 0, 0, 0.25) inset;
}
#fat_finger:hover{
    background-color: #C9DFE8;
    color: black;
}

/* questions box */

#asked_question{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 1rem 1rem 0 0;
    justify-content: center;
    align-items: center;
    /* background-color: #c0c0c0; */
    width: min(60%, 900px);
    min-width: 0;
    min-height: 10.5rem;
    height: auto;
}

#amount_display{
    position: absolute;
    display: flex;
    border: 2px solid #9fb9c4;
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 1rem;
    width: 40%;
    max-width: 380px;
    justify-content: center;
    background-color: aliceblue;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    z-index: 2;
    top: -0.05rem;
}

#question_display{
    position: relative;
    display: flex;
    border: 2px solid #9fb9c4;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
    min-width: 0;
    min-height: 7.25rem;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.2rem;
    box-sizing: border-box;
    text-align: center;
}

#question_options{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1rem;
    /* background-color: #c0c0c0; */
    justify-content: center;
    width: min(60%, 900px);
    min-width: 0;
    border-radius: 0 0 1rem 1rem;
}

.option_container{
    position: relative;
    margin: 0.25rem 0;
    padding: 0.5rem;
    border: 2px solid #5d6061;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
}
.option_container:hover{
    background-color: #f0c9ba;
}
.option_container input[type="radio"]{
    opacity: 0;
    margin: 0.35rem;
}

.option_container:has(input[type="radio"]:checked){
    background-color: #5B7663;
    justify-content: center;
    transition: 500ms;
}

.audience_voted{
    display: none;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    min-width: 2rem;
    background-color: rgba(163, 255, 120, 0.342);
    border-radius: 0.5rem;
    padding: 1em;
}

.audience_voted.active{
    display: flex;
}

#audience_0, #audience_1, #audience_2,#audience_3{
    content: var(--perVoted);
    color: rgba(0, 0, 0, 0.212);
    width: calc(var(--width, 0) * 1%);
    max-width: calc(var(--maxWidth) - 1em);
}

#final_answer{
    display: none;

    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.1rem;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;

    border: 2px solid #9fb9c4;
    border-radius: 1rem;

    background-color: #e7f2f7;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.09), -1px 2px 0 0 rgba(0, 0, 0, 0.25) inset;
}
#final_answer:hover{
    background-color: #C9DFE8;
    
}
#final_answer:active{
    background-color: #DEBEB0;
}
/* correct or wrong answer popup */
.pop_up{
    position: fixed;
    z-index: 61;
    top: -100vh;
    left: 0px;
    width: 100%;
    height: 100%;

}
#correct_popup,
#wrong_popup{
    display: none;
}

.pop_up .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
}

.pop_up .popup-content{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 350px;
    background: #CCDCD1;
    transform: translate(-50%, -50%) scale(1.15);
    padding: 2rem;
    border-radius: 1rem;
    opacity: 0;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.09);
    transition: all 300ms ease-in-out;

    align-items: center;
}
.pop_up #wrong_popup{
    background: #FBE6DF;
}

.pop_up .popup-content .correct{
    margin: 1rem 0 0;
    text-align: center; 
    font-family: "Typefesse";
    justify-content: center;
    text-align: center;
    font-size: 1.55em;
}
.pop_up #wrong_popup .correct{
    font-size: 1.25em;
}

.pop_up .popup-content p{
    font-size: 1.5rem;
    margin: 0 0 1rem;
    text-align: center; 
}

.pop_up .popup-content .next_action{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.pop_up .popup-content .next_action #continue_button{
   font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
}

.pop_up #wrong_popup .next_action #try_again_button{
   font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
}

.pop_up .popup-content .next_action #cowards_out{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;

    border: none;
    background: transparent;
}
.pop_up #wrong_popup .next_action #give_up_button{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;

    border: none;
    background: transparent;
}
.pop_up .popup-content .next_action #cowards_out:hover{
    color: #EA7E7B;
}

.pop_up #wrong_popup .next_action #give_up_button:hover{
    color: #5B7663;
}

.pop_up .popup-content .next_action #cowards_out:active{
    color: #9fb9c4;
}

.pop_up #wrong_popup .next_action #give_up_button:active{
    color: #EA7E7B;
}

.pop_up.active{
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
}

.pop_up.active .overlay{
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.pop_up.active .popup-content{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
/* All above is the right card and all below is the wrong, obviously.  */
#game_life_lines{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 1rem;
    padding: 0.5rem 3rem;
    gap: 1rem;
    height: 4rem;
    /* background-color: aliceblue; */
    border-radius: 1rem;
}

.life_line_button{
    border: 2px solid #767777;
    background-color: #aaadad;
    border-radius: 0.5rem;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.07), -2px 3px 0 0 rgba(0, 0, 0, 0.25) inset;
    cursor: pointer;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.life_line_button:hover{
    border: 2px solid #cdcfcf;
    background-color: #d7dada;
}
.life_line_button img{
    width: 30px;
}
#fifty_fifty.pressed, #phone_friend.pressed, #ask_audience.pressed{
    border: 2px solid #5d5e5e;
    background-color: #dbe2e2;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.09), -1px 2px 0 0 rgba(0, 0, 0, 0.35) inset;
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(100%);
}
#phone_friend_response{
    display: none;
    position: fixed;
    z-index: 61;
    top: -100vh;
    left: 0px;
    width: 100%;
    height: 100%;
}
#phone_friend_response .overlay{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
}
#phone_friend_response.active{
    display: block;
    top: 0;
}

#phone_friend_response.active .overlay{
    opacity: 1;
}

#phone_friend_response.active #friend_choice{
    display: flex;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

#friend_choice{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 350px;
    background: #C9DFE8;
    transform: translate(-50%, -50%) scale(1.15);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.09);
    transition: all 300ms ease-in-out;
    opacity: 0;
    z-index: 4;
}


.button_holder{
    display: flex;
    flex-direction: column;
}
.button_holder .surrender_buttons{
    display: none;
    border-radius: 1rem;
    background-color: #e7f2f7;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.07), -1px 2px 0 0 rgba(0, 0, 0, 0.15) inset;
}
#accept{
    
    background-color: #5B7663;
    border: 2px solid #7ba888;
}
#accept:hover{
    background-color: #a9d4b6;
}
#think_for_self{
    background-color: #EA7E7B;
    border: 2px solid #9b5552;
}
#think_for_self:hover{
    background-color: #DEBEB0;
}


/* page 3 stuff */
#winning_content{
    display: flex;
    flex-direction: column;      /* stack vertically */
    justify-content: center;     /* vertical center */
    align-items: center;         /* horizontal center */
    text-align: center;          /* center text */
}
.replay_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.solid_button{
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.1rem;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 250px;
    border: 2px solid #9fb9c4;
    border-radius: 1rem;

    background-color: #e7f2f7;
    box-shadow: 0 14px 17px 0 rgba(0, 0, 0, 0.09), -1px 2px 0 0 rgba(0, 0, 0, 0.25) inset;
}
.solid_button:hover{
    color: #e7f2f7;
    background-color: #a9d4b6;
    border: 2px solid #7ba888;
}

#give_up_button, #amount_won{
    display: flex;
    justify-content: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    

    border: none;
    background: transparent;
}
#amount_won{
    text-align: center;
    font-size: 2.5rem;
    align-items: center;
    width: 300px;
    height: 150px;
    background-image: url("../images/Stacks.svg");
}
#give_up_button:hover{
    color: #a9d4b6;
}
/* media query */
@media (max-width: 700px) {
    .game_title{
        font-size: 2.5rem;
        background-size: 180px;
        background-position: center 8vh;
    }

    .page_header{
        font-size: 1rem;
        padding: 0.5rem;
        text-align: center;
    }

    #time_and_exit{
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        margin: 0 1rem;
        padding: 0.75rem;
    }

    #asked_question,
    #question_options{
        width: calc(100% - 2rem);
        margin: 0.75rem 1rem;
    }

    #amount_display,
    #question_display{
        width: calc(100% - 2rem);
        margin: 0.75rem;
    }

    #question_display{
        font-size: 1rem;
        padding: 0.75rem;
    }

    .option_container{
        font-size: 0.95rem;
        padding: 0.75rem;
    }

    #final_answer{
        width: 100%;
        box-sizing: border-box;
    }

    #game_life_lines{
        width: calc(100% - 2rem);
        margin: 0.75rem 1rem;
        gap: 0.75rem;
    }

    .life_line_button{
        width: 50px;
        height: 50px;
    }

    .pop_up .popup-content{
        width: calc(100% - 2rem);
        padding: 1.25rem;
    }

    .basic_button{
        min-width: 0;
        width: 100%;
    }
}